body, html {
    height: 100%;
    margin: 0;
    background: url(../images/chicken-dinner-dish-236781.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: Calligraffiti;
    src: url(../fonts/Calligraffiti.ttf);
}

* {
    box-sizing: border-box;
}

.nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.nav a {
    float: left;
    color: red;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    font-size: 16px;

}

.nav .brand a {
    float: left;
    color: red;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 35px;
    font-family: Calligraffiti, serif;

}

.nav .nav-items a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 16px;
    font-family: "Caviar Dreams", serif;

}

.nav .nav-items .right a {
    float: right;
}

.nav a:hover {
    color: #fff;
    transition: 0.9s;
}

.nav a.active {
    background-color: #4CAF50;
    color: white;
}

.right {
    float: right;
}

.left {
    float: left;
}

.wrapper {
    max-width: 400px;
    padding: 10px 5px;
    margin: 150px auto;
    transition: 0.7s ease;
}

input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Caviar Dreams", sans-serif;
}

button:hover {
    opacity: 0.8;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(189, 189, 189, 0.6);
}

.card-header {
    font-family: Calligraffiti, sans-serif;
    text-align: center;
    margin: 5px 0 3px 0;
}

.card-header p {
    color: #f2f2f2;
    font-size: 35px;
}

.card-content {
    padding: 0 16px;
}
.card-content h5{
    font-family: "Caviar Dreams", sans-serif;
}

label{
    font-family: "Caviar Dreams", sans-serif;
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}


@media screen and (max-width: 600px) {
    .nav .brand a {

        padding: 2px 5px;
        margin: 5px 0 0 auto;
        font-size: 25px;
        font-family: Calligraffiti, serif;

    }
    
    .wrapper {
        width: 90%;
        padding: 10px 5px;
        transition: 0.7s ease;
        margin: 70px auto;
    }

}

