body{
    font-size: 100%;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

.nav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.nav a {
    display: inline-block;
    color: red;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    font-size: 16px;

}

.nav .brand a {
    float: left;
    color: red;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 35px;
    font-family: Calligraffiti, serif;

}

.nav .nav-items a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 16px;
    font-family: "Caviar Dreams", serif;

}

.nav .dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: "Caviar Dreams", sans-serif;
    transition: 0.7s ease;
}
.nav .dropdown a {
    text-decoration: none;
    color: white;
    padding: 15px 10px;
    font-family: "Caviar Dreams", sans-serif;
    transition: 0.7s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.nav .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Caviar Dreams", serif;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.right {
    float: right;
}

.left {
    float: left;
}

.nav a:hover {
    color: #fff;
    transition: 0.9s;
}

.nav a.active {
    background-color: #4CAF50;
    color: white;
}

.wrapper {
    max-width: 90%;
    height: 500px;
    margin: 50px auto;
    padding: 20px;
}

.parallax {
    min-height: 300px;
    width: 100%;
    background: url("../images/beef-bread-burger-156114.jpg") no-repeat fixed center;
    background-size: cover;
}

@font-face {
    font-family: Calligraffiti;
    src: url(../fonts/Calligraffiti.ttf);
}

.slideshow-container {
    position: relative;
    margin: auto;
    transition: 0.7s ease;
}

.mySlides {
    transition: 0.7s ease;
}

.mySlides img{
    width: 100%;
}

.text {
    color: #f2f2f2;
    font-size: 3.438em;
    padding: 8px 12px;
    position: absolute;
    top: 300px;
    width: 100%;
    text-align: center;
    transition: 0.7s;
    font-family: "Caviar Dreams", sans-serif;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 2px 16px;
}

.row {
    float: left;
}

/* For large screens */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.welcome-msg {
    padding: 10px;
    margin: auto;
}

.welcome-msg #header {
    font-size: 38px;
    text-align: center;
    font-family: 'Lucida Calligraphy', serif;
    color: red
}

.welcome-msg #msg-body {
    text-align: center;
    font-family: 'Caviar Dreams', sans-serif;
    padding: 20px
}

.welcome-msg #sub-header {
    font-size: 28px;
    text-align: center;
    font-family: 'Caviar Dreams', sans-serif
}

.welcome-img {
    width: 80%;
    height: 280px;
    border-radius: 30px;
    padding: 20px;
    margin: auto;
}

.content-01 p {
    text-align: center;
    font-size: 35px;
    padding: 50px;
    color: #fff;
}
.menu-icon{
    visibility: hidden;
}

.menu-wrapper{
  display: inline-block;
    cursor: pointer;
}
.menu img {
    width: 90%;
    height: 250px;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 0 10px auto;
}

.menu-text{
    text-align: center;
    font-family: 'Caviar Dreams', sans-serif;
    padding: 20px
}

.meal-menu h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: 'Lucida Calligraphy', serif
}

.meal-menu-btn{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    margin:5px 0 0 18px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    background-color: black;
}


button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #af1e17;
    text-align: center;
    margin:5px 0 0 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}

.sidebar{
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.71);
    position: fixed;
    left: -250px;
    z-index: 1001;
    top: 65px;
    padding-top: 20px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.8), 0 6px 6px 0 rgba(0, 0, 0, 0.79);
}

.sidebar a{
    display: block;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 18px;
    font-family: "Caviar Dreams", sans-serif;
}
.sidebar.active {
    left: -250px;
}

.contentarea {
    margin: 80px 0 10px 50px;
    padding: 20px;
    transition: 0.5s;
    font-family: "Caviar Dreams", sans-serif;
}

.contentarea .active {
    margin-left: 0;
}

.contentarea h1,p {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 25px;
}

.pg-t {
    font-family: "CaviarDreams", sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 55px;
    font-size: 25px;
}

.table-w {
    overflow-x:auto;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 50px auto;
}

th, td {
    text-align: left;
    padding: 18px;
}

tr:nth-child(even){
    background-color: #f2f2f2
}

th {
    background-color: #af1e17;
    color: white;
}

.pagination{
    margin-left: 50px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 18px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #af1e17;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.order-detail-text{
    padding-left: 20px;
    text-align: left;
}

.form-wrapper {
    max-width: 400px;
    padding: 10px 5px;
    margin: 100px auto;
    font-family: "Caviar Dreams", sans-serif;
    transition: 0.7s ease;
}
.form-wrapper form {
    font-family: "Caviar Dreams", sans-serif;
}
.form-wrapper .form-header {
    text-align: center;
    padding: 20px;
    font-family: "Caviar Dreams", sans-serif;
}

input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Caviar Dreams", sans-serif;
}


.db-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  text-align: center;
  margin:5px 0 0 18px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  background-color: black;
}

.danger {
    background-color: red;
}

.success {
    background-color: green;
}

.default {
    background-color: green;
}

@media only screen and (max-width: 970px) {
    .menu-icon{
        font-size: 48px;
        padding: 10px;
        visibility: visible;
        color: white;
  
    }
  .nav .nav-items a {
      visibility: hidden;
      display: none;
      }
  
  .text {
      top:100px;
      }
  
  .sidebar {
      left: -250px;
      transition: 0.5s;
   }
  
   .sidebar.active {
       left: 0;
       transition: 0.5s;
   }
  
   .contentarea {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 40px;
        padding: 0px;
        height: 600px;
        transition: 0.5s;
    }
  
  
  }
  
  @media only screen and (max-width: 870px) {
  
      [class*="col-"] {
          width: 100%;
      }
  
      .wrapper{
          height: 800px;
      }
  
      .nav .nav-items a{
          visibility: hidden;
          display: none;
      }
      .dot-wrapper{
          margin-top: 5px;
      }
      .welcome-img {
          width: 80%;
          margin: 5px 40px auto;
      }
  }
  
  @media only screen and (max-width: 525px) {
  
     .slideshow-container .mySlides .text{
         font-size: medium;
     }
  
      .dot-wrapper{
          visibility: hidden;
      }
  
  
  }
